{% extends 'base.html' %}
{% block body %}
    {% load staticfiles %}
    <div class="container">
        <div class="row">
            <a href="{% url "index" %}" class="col-md-offset-0"><img src="{% static "image/back.png" %}"></a>
        </div>
        {% for i in list %}
            <div class="row">
                <table>
                    <tr>
                        <td style="width:100%;height:50px;font-size:14px;border:0">
                        </td>
                    </tr>
                </table>
                <a href="{% url i.url %}"><h1 class="col-md-offset-2">The {{ i.dbname }} Readed <img src="{% static "image/front.png" %}"></h1></a>
            </div>
        {% endfor %}
    </div>






{% endblock %}