{% extends 'base.html' %}
{% block body %}

    {% load staticfiles  %}
    <div class="container">
    <div class="row">
        <a href="{% url "dbhome" %}" class="col-md-offset-0"><img src="{% static "image/back.png" %}"></a>
    </div>
    <div id="toolbar" class="btn-group">
        <a class="glyphicon glyphicon-plus" href="{% url "dsupload" %}"></a>
    </div>
    <table data-toggle="table" data-show-columns="true"
           data-show-toggle="true"  data-show-refresh="true"
           data-search="true" data-toolbar="#toolbar"
           data-pagination="true"
             >
    <thead>
        <tr>
            <th data-switchable="false">BL P\N</th>
            <th data-sortable="true" data-switchable="false">Value</th>
            <th data-sortable="true" data-switchable="false">Type</th>
            <th>Description</th>
            <th>Vender P\N</th>
            <th>Datasheet</th>
            <th data-sortable="true">Data Modified</th>
            <th>Ref Design</th>
            <th>Ref Schematic</th>
            <th>Ref Code</th>
        </tr>
    </thead>
    <tbody>
        {% for i in result %}
            <tr>
                <td><a href="\dschange\{{i.mypn}}">{{ i.mypn }}</a></td>
                <td>{{ i.value }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.description}}</td>
                <td>{{ i.venderpn }}</td>
                <td><a href="{% static i.datasheet %}" target="_blank">{{i.datasheet}}</a></td>
                <td>{{ i.time }}</td>
                <td>{{ i.refdesign }}</td>
                <td><a href="{% static i.refsch %}" target="_blank">{{i.refsch}}</a></td>
                <td><a href="{% static i.refcode %}" target="_blank">{{i.refcode}}</a></td>
            </tr>

    {% endfor %}

    </tbody>
    </table>
    </div>



{% endblock %}