{% extends 'base.html' %}
{% block link %}
<style type="text/css">
.errorlist{
    color: red;
    list-style-type:none;

    }

</style>

{% endblock %}
{% block body %}
    {% load staticfiles  %}


    <div class="container">
    <div class="row">
            <a href="{% url "dsshow" %}" class="col-md-offset-0"><img src="{% static "image/back.png" %}"></a>
    </div>
    <table>
                    <tr>
                        <td style="width:100%;height:50px;font-size:14px;border:0">
                        </td>
                    </tr>
                </table>



    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">My P/N :</label>
            <div class="col-sm-3">
            <input type="text" class="form-control" name="mypn" required="required">

            </div>
        </div>
        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">Value :</label>
            <div class="col-sm-3">
            <input type="text" class="form-control" name="value" required="required">
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="id_message" class="control-label col-sm-2">Type:</label>
            <div class="col-sm-3">
                <h4>{{ form.type }}</h4>
            </div>
        </div>
        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">Description :</label>
            <div class="col-md-9">
            <input type="text" class="form-control" name="description" required="required">
            </div>
        </div>
        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">Vender P/N :</label>
            <div class="col-sm-3">
            <input type="text" class="form-control" name="venderpn">
            </div>
        </div>
        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">DataSheet :</label>
            <div class="col-sm-3">
            <input type="file" class="form-control" name="datasheet" required="required">
            </div>
        </div>

        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">Reference Design :</label>
            <div class="col-sm-3">
            <input type="url" class="form-control" name="refdesign">
            </div>
        </div>
        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">Reference Code :</label>
            <div class="col-sm-3">
            <input type="file" class="form-control" name="refcode">
            </div>
        </div>
        <div class="form-group has-feedback ">
            <label class="control-label col-sm-2" for="inputSuccess3">Reference Sch :</label>
            <div class="col-sm-3">
            <input type="file" class="form-control" name="refsch">
            </div>
        </div>
        {% csrf_token %}
        <input type="submit" value="Submit" class="btn btn-primary col-md-offset-1 col-md-1">
    </form>
    </div>


{% endblock %}